*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blue
}

.background-white{
    background-color: white;
    width: 100%;
}

header{
    padding: 20px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.logo-square{
    width: 40px;
    height: 40px;
    background-color: green;
}

.left-header{
    display: flex;
    height: 100%;
}

.left-elements{
    width: 100px;
    height: 40px;
    background-color: red;
}

.right-header{
    display: flex;
    height: 100%;
}

.right-elements{
    width: 100px;
    height: 40px;
    background-color: orange;
}

.main-container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
}

.row{
    display: flex;
}

.content-text{
    width: 1867px;
    height: 100px;
    background-color: blueviolet;
}

.col-30{
    width: 30%;
    height: 500px;
    background-color: salmon;
}

.col-70{
    width: 70%;
    height: 500px;
    background-color: aqua;
}

.central-container{
    width: 50%;
    margin: 0 auto;
    background-color: white;
}
.central-container .content-text{
    width: 1556px;
    flex-direction: column;
}

.row-column{
    flex-direction: column;
}

.row-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0px 40px 0px;
}

.col-1-30{
    width: 30%;
    min-height: 800px;
    background-color: salmon;
}
.col-2-30{
    width: 30%;
    background-color: brown;
}
.col-3-30{
    width: 30%;
    background-color: lightgreen;
}


.radio-buttons{
    width: 1556px;
    height: 100px;
    background-color: violet;
}

.col-team{
    width: 100%;
    background-color: saddlebrown;
    height: 50px;
}
